html , body{ 
	width: 100%;
	height: 100%;
	position: relative;
}
body{ 
	margin:0;
}
#my_imgcont img{ 
	width: 100%;
	height: 100%;
	position: absolute;
}
#img1{ 
	z-index: 2;	
}
.active{
	z-index: 100;
	display: block;
}
.next{
	z-index: 50;
	display: block;
}

#img2{ 
	z-index: 3;
}
#img3{ 
	z-index: 4;
}
#img5{ 
	z-index: 5;
}
#content { 
	z-index: 70;
	position: absolute;
}
.clear{ 
	display: none;
}